.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav-container {
  flex: 1;
  overflow: hidden;
}

.sidenav {
  width: 256px;
  background-color: #0f172a;
  color: white;
}

.content {
  overflow-y: auto;
  padding: 24px;
  background-color: #f5f5f5;
}
